<!doctype html>
<html>

<head>
    {% include "util/head.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="bg-background-muted grid grid-rows-[auto_minmax(0,1fr)_auto] h-screen h-svh overflow-hidden">
    {% include "util/header.html" %}
    <div id="content" class="bg-background-muted  min-w-screen h-full overflow-y-auto">{% block content %}{% endblock %}</div>
    {% block extra_js %}{% endblock %} {% include "util/footer-navigation.html" %}
</body>

</html>