{% extends 'util/layout.html' %} {% block title %}レシピ詳細 {% endblock %} {% block content %}
<main class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-8 pb-44">
    <div class="bg-background rounded-lg shadow-md overflow-hidden mb-8 recipe-header">
        <div class="relative">
            <img src="{{ recipe.foodImageUrl }}" alt="Recipe" class="w-full h-64 object-cover">
        </div>
        <div class="space-y-4 px-8 py-6">
            <h2 class="text-2xl font-bold  bg-background/50  py-2">{{ recipe.recipeTitle }}</h2>
            <p>{{ recipe.recipeDescription }}</p>
            <p>材料： {% for material in recipe.recipeMaterial %}
                <span class=" ">{{ material }}</span>{% if not forloop.last %}、{% endif %}{% endfor %}</p>

            <div class="grid grid-cols-2 gap-y-1 ">
                <div class="flex items-center">
                    <div class="w-6 h-6 flex items-center justify-center rounded-full mr-1">
                        <i class="fas fa-user text-primary "></i>
                    </div>
                    <p>{{ recipe.nickname }}</p>
                </div>
                <div class="flex items-center">
                    <div class="w-6 h-6 flex items-center justify-center mr-1 ">
                        <i class="fas fa-clock text-primary "></i>
                    </div>
                    <p>{{ recipe.recipeIndication }}</p>
                </div>
                <div class="flex items-center">
                    <div class="w-6 h-6 flex items-center justify-center mr-1 ">
                        <i class="fas fa-yen-sign text-primary "></i>
                    </div>
                    <p>{{ recipe.recipeCost }}</p>
                </div>
                <div class="flex items-center">
                    <div class="w-6 h-6 flex items-center justify-center mr-1 ">
                        <i class="fas fa-trophy text-primary "></i>
                    </div>
                    <p>{{ recipe.rank }}位</p>
                </div>
                <div class="flex items-center col-span-2 ">
                    <div class="w-6 h-6 flex items-center justify-center mr-1 ">
                        <i class="fas fa-calendar text-primary "></i>
                    </div>
                    <p>{{ recipe.recipePublishday }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed bottom-20 right-4 flex flex-col gap-2">
        <button type="button" class="button button-destructive shadow-lg gap-x-px">
            <i class="fas fa-heart"></i>
            <span class="text-xs">お気に入り</span>
        </button>
        <button type="button" class="button button-primary shadow-lg gap-x-px">
            <i class="fas fa-plus"></i>
            <span class="text-xs">食べたいもの</span>
        </button>
    </div>
</main>
{% endblock %}